{{#paper-sidenav-container class="site-nav-container"}}
  {{#paper-sidenav
    class="md-whiteframe-z2"
    lockedOpen="gt-sm"
    open=isSidenavOpen
    onToggle=(action (mut isSidenavOpen))}}

    {{#paper-toolbar as |toolbar|}}
      {{#toolbar.tools}}
        {{link-to 'Home' 'application'}}
      {{/toolbar.tools}}
    {{/paper-toolbar}}

    {{#paper-content padding=true}}
      <div>{{link-to 'Users' 'users'}}</div>
      <div>{{link-to 'Posts' 'posts'}}</div>
    {{/paper-content}}
  {{/paper-sidenav}}

  <div class="flex layout-column" tabindex="-1" role="main">
    {{#paper-toolbar class="layout-row layout-align-start" as |toolbar|}}
      {{#toolbar.tools}}
        {{#paper-sidenav-toggle as |toggleAction|}}
          {{#paper-button class="hide-gt-sm" onClick=(action toggleAction) iconButton=true}}
            {{paper-icon "menu"}}
          {{/paper-button}}
        {{/paper-sidenav-toggle}}
        {{page-title}}
      {{/toolbar.tools}}
    {{/paper-toolbar}}

    <div class='flex layout-column'>
      <div class="flex layout-row">
        <div class="flex">
          {{outlet}}
        </div>

        {{#if isDrawerOpen}}
          <div class="flex-33 md-whiteframe-z2">
            <div class="layout-row layout-align-end">
              {{#paper-button iconButton=true onClick=(action 'closeDrawer')}}{{paper-icon 'close'}}{{/paper-button}}
            </div>
            <h3>{{drawerRecord.title}}</h3>
            <p>{{drawerRecord.user.name}}</p>
          </div>
        {{/if}}
      </div>
    </div>
  </div>

{{/paper-sidenav-container}}
